.home-title {
    position: absolute;
    left: 150px;
    top: 250px;
    width: 300px;
    font-family: 'Droid Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 100px;
    display: flex;
    align-items: center;
    letter-spacing: -0.98px;
    color: #6E4E48;
  }
  .subtext {
    position: absolute;
    left: 150px;
    top: 250px;
    font-family: 'Droid Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14.7px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 0.441px;
    color: #2F3236;
  }
  .home-container {
    position: relative;
    height: 260px;
    padding-bottom: 56.25%;
    overflow: hidden;
    background-image: url('../../assets/background-1.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
  
  